:root {
  background-color: black;
  color: white;
  font-family: monospace;
}
.terminal-input {
  color: lime;
}
.Navigation {
  border-style: solid;
  border-color: white;
  padding: 1em;
}
a[href]:before {
  content: "[";
}
a[href]:after {
  content: "]";
}
a[href] {
  color: cyan;
  text-decoration: none;
}
a:visited::before {
  content: "[|";
}
.profile {
  width: 84em;
  display: block;
  position: relative;
  border-style: solid;
  border-color: white;
  padding: 1em;
}
/*profile > .nl::before {
  content: "| ";
}
.profile > .nl:after {
  content: " |"
}
.profile::before, .profile::after {
  content: "+----------------------------------------------------------------------------------+"
}*/
h1 {
  font-size: 1em;
  color: red;
}
h1:before {
  content: "# ";
}
h2 {
  font-size: 1em;
  color: deepskyblue;
}
h2:before {
  content: "## ";
}
h3 {
  font-size: 1em;
  color: magenta;
}
h3:not(.terminal-input)::before {
  content: "### ";
}

h4:before {
  content: "#### "
}

h4 {
  font-size: 1em;
  color: pink;
}

strong {
  color: coral;
}
strong:before {
  content: "<";
}
strong:after {
  content: ">";
}
h3 > a {
  color: magenta;
}
ul {
  list-style-type: none;
}
li > h3:before {
  content: "- " !important;
}
li:not(:has(h3)):before {
  content: "- ";
}

.codeblock {
  margin: 4px;
  padding: 1px;
  width: fit-content;
  display: block;
  font: monospace;
  background-color: darkslategray;
}
.date {
  color: gray;
  font-size: 0.8em;
}
.date::before {
  content: '['
}
.date::after {
  content: ']'
}